html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.label-container {
  position: absolute;
  bottom: 16px;
  left: 16px;
}

.label {
  color: white;
  margin-bottom: 8px;
}

a,
a:visited {
  color: inherit;
}
